<h2 class="section-heading">Microsoft .NET</h2>

<!--<div class="alert alert-info" role="alert">Website hosting</div>-->
<ol class="lead">
  <li>ASP.NET Development
    <ul>
      <li>Dialectic developers expertise in ASP.NET 4.0 and above versions for designing ASP.NET web
        applications.</li>
    </ul>
  </li>

  <li>Windows Desktop Development
    <ul>
      <li>Dialectic development team develops Windows GUI applications (Windows Forms) and Windows Console applications.</li>
    </ul>
  </li>
  <li>Misceleneous .NET Services
    <ul>

      <li>.NET data management solution with analysis (Microsoft SQLServer, MySQL, ADO.NET, LINQ, Entity Framework)</li>
      <li>Windows Communication Foundation (WCF)</li>
      <li>ASP.NET Web Services development, Migration of ASP.NET Web Services to WCF</li>
      <li>Windows Runtime Components development</li>
      <li>.NET Application Maintenance and Support</li>
    </ul>

  </li>
</ol>

