<h2 class="section-heading">iOS/Android</h2>

<p class="lead"><strong>iOS Application Development</strong></p>
<p class="lead">Our Services:</p>
<ul class="lead">
<li>Custom application developement</li>
  <li>Mobile web developement</li>
  <li>Widget Developement</li>
  <li>Software QA and testing</li>
  <li>Software support and maintenance</li>
  <li>Web application Developement</li>
</ul>
<p class="lead">Technologies:</p>
<p class="lead">Dialectic's team of iOS developers have good knowledge and experience in iOS application development using iphone/ipad/ipod and iphone supported technologies.</p>


<p class="lead"><strong>Android Application Development</strong></p>
<p class="lead">Our Services:</p>
<ul class="lead">
  <li>Widget Development</li>
  <li>Application Development</li>
  <li>API Customisation</li>
  <li>Support & Maintenance</li>
  <li>QA/Testing</li>
  <li>Porting/Migration to different Android platforms</li>
  <li>Android development on 2.x (Phone)/ 3.x (Tablet)/ 4.x (Phone and Tablet)</li>
</ul>
<p class="lead">Technologies:</p>
<p class="lead">Our Android experts make use of the comprehensive set of development tools offered by the Android SDK to create applications which add value to our customers.
  Utilities such as Android SDK's APIs, handset emulator, sample code and debugging tools are extensively used by them to create risk-free and highly valued Android applications.
</p>
