<h2 class="section-heading">Testing</h2>

<!--<div class="alert alert-info" role="alert">Website hosting</div>-->
<p class="lead">We expertise in Quality Assurance testing services. Right from test strategy to test plans to generating test cases to testing, we provide high quality testing services and make sure  the application is robust.
  We summarize our testing cycle with a detailed Test Sumary Report.</p>


<ul class="lead">

  <li>Web Application Testing</li>
  <li>Desktop Application Testing</li>
  <li>Mobile App Testing</li>
  <li>Selenium Automation</li>
</ul>
