<!-- Page Content -->

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Who We Are</h2>

        <!--<div class="alert alert-info" role="alert">Website hosting</div>-->
        <p class="lead">Dialectic Technologies is a non-traditional software company with a focus on customer centric business. We believe that with mutual co-operation and partnership no stone can remain unturned. We foster a collaborative environment with our clients and help them achieve their business milestones.
          We are eager to try new things. We love what we do and love sharing our knowledge capital with like minded thinkers, doers and innovators. Our deliberate push for certainty is a must lookout for our clients and assurance is a fact we are built upon.</p>
      </div>
      <div class="col-lg-5 col-sm-6">
        <%= image_tag 'webapp.png', :class => 'img-responsive ' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Mobile Application Development</h2>

        <!--<div class="alert alert-info" role="alert">Website hosting</div>-->
        <p class="lead">
        We design low signature, high performance applications that suit the wireless platforms. The service we provide are:
          <ul class="lead">
            <li>Custom application development</li>
            <li>  Handset compatibility and porting</li>
            <li>Quality Assurance and testing</li>
            <li>Security and privacy</li>
            <li> Games development</li>
          </ul>
        </p>
      </div>
      <div class="col-lg-5 col-sm-6">
        <%= image_tag 'mobileapp.png', :class => 'img-responsive ' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Maintenance</h2>

        <!--<div class="alert alert-info" role="alert">Website hosting</div>-->
        <p class="lead">
          Dialectic Technologies provides focused expertise in support and maintenance of software.
          Various facets of software maintenance we undertake include:
            <ul class="lead">
              <li>Code maintenance</li>
              <li>Bug fixing</li>
              <li>Version, patch and release management</li>
              <li>Software upgrade</li>
              <li>Code optimization</li>
            </ul>
        </p>
      </div>
      <div class="col-lg-5 col-sm-6">
        <%= image_tag 'maintenance.png', :class => 'img-responsive ' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">QA/Testing</h2>

        <!--<div class="alert alert-info" role="alert">Website hosting</div>-->
        <p class="lead">
          Dialectic Technologies Testing Practice has a unique combination of skilled software engineering & testing teams with proven expertise in testing tools and methodologies for a wide range of solutions.This includes new application/ product testing, support and integration.
          The team has experience and focus on testing, both as part of the development team and as an external authority. Expertise covers test-plan development, test-case development, regression testing, bug maintenance, debug management and certification. Automated test scripts are developed where appropriate.
        </p>
      </div>
      <div class="col-lg-5 col-sm-6">
        <%= image_tag 'qa.png', :class => 'img-responsive ' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<!-- /.content-section-a -->
