<!-- Page Content -->

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Web Application Development</h2>
        <p class="lead">
          Dialectic Technologies, being one of the leading web application development companies, allows you to have a beautiful web presence through website with our great web development solutions, exactly according to requirements. Our team of professionals has expertise in developing any type of website usign any platform by properly understanding your needs and by going with your thoughts. We focus to deliver high quality website development service throughout the process and bring into some basic features of a successful website.
        </p>
      </div>
      <div class="col-lg-5 col-sm-6">
        <%= image_tag 'webapp.png', :class => 'img-responsive ' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Mobile Application Development</h2>

        <!--<div class="alert alert-info" role="alert">Website hosting</div>-->
        <p class="lead">
        We design low signature, high performance applications that suit the wireless platforms. The service we provide are:
          <ul class="lead">
            <li>Custom application development</li>
            <li>  Handset compatibility and porting</li>
            <li>Quality Assurance and testing</li>
            <li>Security and privacy</li>
            <li> Games development</li>
          </ul>
        </p>
      </div>
      <div class="col-lg-5 col-sm-6">
        <%= image_tag 'mobileapp.png', :class => 'img-responsive ' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Maintenance</h2>

        <!--<div class="alert alert-info" role="alert">Website hosting</div>-->
        <p class="lead">
          Dialectic Technologies provides focused expertise in support and maintenance of software.
          Various facets of software maintenance we undertake include:
            <ul class="lead">
              <li>Code maintenance</li>
              <li>Bug fixing</li>
              <li>Version, patch and release management</li>
              <li>Software upgrade</li>
              <li>Code optimization</li>
            </ul>
        </p>
      </div>
      <div class="col-lg-5 col-sm-6">
        <%= image_tag 'maintenance.png', :class => 'img-responsive ' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">QA/Testing</h2>

        <!--<div class="alert alert-info" role="alert">Website hosting</div>-->
        <p class="lead">
          Dialectic Technologies Testing Practice has a unique combination of skilled software engineering & testing teams with proven expertise in testing tools and methodologies for a wide range of solutions.This includes new application/ product testing, support and integration.
          The team has experience and focus on testing, both as part of the development team and as an external authority. Expertise covers test-plan development, test-case development, regression testing, bug maintenance, debug management and certification. Automated test scripts are developed where appropriate.
        </p>
      </div>
      <div class="col-lg-5 col-sm-6">
        <%= image_tag 'qa.png', :class => 'img-responsive ' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

<!-- /.content-section-a -->
