

<!-- Page Content -->

<div class="content-section-a tech-content">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>

        <%= render "#{@techname}" %>

      </div>
      <div class="col-lg-5  col-sm-6">
        <%= image_tag "ico-tech-#{@techname}.png", :class => 'img-responsive tech-img' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->
